* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  border-radius: 31px;
  border: 1px solid #505050;
  padding: 25px;
  width: 522px;
  height: 711px;
  position: relative;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.title-container div {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 23px;
}

.title-container p {
  font-weight: 600;
}

.title-container button {
  padding: 7px 10px;
  font-size: 15px;
  background-color: white;
  border-radius: 6%;
  border: 1.5px solid #d5d5d5;
}

.profile-circle {
  background-color: grey;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.profile1 {
  background-image: url("./assets/woman-portrait.jpg");
}

.profile2 {
  background-image: url("./assets/man-portrait.jpg");
}

.user-container {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  margin-bottom: 7px;
}

.bold {
  font-weight: bold;
}

.pay {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 25px;
}

.details {
  display: flex;
  gap: 25px;
  font-size: 18px;
  margin-bottom: 25px;
}

.date,
.match {
  display: flex;
  gap: 10px;
}

.date i,
.match i {
  color: #6e6e6e;
}

.tags-container {
  display: flex;
  gap: 8px;
  margin-bottom: 36px;
}

.tag {
  padding: 10px 20px;
  border-radius: 50px;
}

.tags-container .tag:nth-child(1) {
  background-color: #05b973;
}

.tags-container .tag:nth-child(2) {
  background-color: #c1b6fc;
}

.tags-container .tag:nth-child(3) {
  background-color: #fff677;
}

.description {
  width: 374px;
  margin-bottom: 34px;
}

.wide-btn {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  padding: 15px 10px;
}

.wide-btn-black {
  border: none;
  background-color: black;
  color: white;
}

.wide-btn-white {
  border: none;
  background-color: transparent;
  color: #333333;
  border: 1px solid #505050;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 65px;
}

.vertical-line {
  width: 1.5px;
  height: 30%;
  background-color: #505050;
  position: absolute;
  top: 160px;
  left: 42px;
}

.pay,
.details,
.tags-container,
.description {
  margin-left: 50px;
}

button,
.btn {
  cursor: pointer;
}
 